# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# JetBrains specific (PyCharm)
.idea/

# Visual Studio Code
.vscode/

# Operating System Files
*.DS_Store
Thumbs.db